<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="omnibot">

  <!-- Vị trí LIDAR -->
  <xacro:property name="lidar_x" value="0.05"/>
  <xacro:property name="lidar_y" value="0.0"/>
  <xacro:property name="lidar_z" value="0.2"/>

  <!-- 1) base_link: nếu không cần sim inertia thì có thể bỏ <inertial> -->
  <link name="base_link">
    <visual>
      <geometry><box size="0.3 0.2 0.05"/></geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <geometry><box size="0.3 0.2 0.05"/></geometry>
    </collision>
  </link>

  <!-- 2) link laser -->
  <link name="laser"/>

  <!-- 3) joint cố định base_link → laser -->
  <joint name="base_to_laser" type="fixed">
    <parent link="base_link"/>
    <child  link="laser"/>
    <origin xyz="${lidar_x} ${lidar_y} ${lidar_z}" rpy="0 0 3.1416"/>
  </joint>

</robot>
